<!DOCTYPE html>
<head>
	<meta charset="utf-8" />
	<title>GoBlog后台管理 v{{.version}}</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="lsj86@qq.com" name="author" />
	<link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="../../static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
	<link href="../../static/themes/admin/css/style.css" rel="stylesheet" type="text/css"/>
	<script src="../../static/js/jquery.min.js" type="text/javascript"></script>
	<script src="../../static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="../../static/datepicker/WdatePicker.js" type="text/javascript"></script>
	<script src="../../static/themes/admin/js/admin.js" type="text/javascript"></script>
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">




<fieldset>
	<legend>标签管理</legend>

	<form method="post" name="p" action="/admin/tag?act=batch">
	<table class="table table-hover table-list">
		<thead>
		<tr>
			<th width="30"><input type="checkbox" name="all" value="0" onclick="checkall('ids[]', this)" /></th>
			<th width="60">ID</th>
			<th width="200">标签名称</th>
			<th width="150">内容数</th>
			<th>&nbsp;</th>
		</tr>
		</thead>
		<tbody>
		
			<tr>
				<td><input type="checkbox" name="ids[]" value="" /></td>
				<td></td>
				<td></td>
				<td></td>
				<td>&nbsp;</td>
			</tr>
		
		</tbody>
		<tfoot>
			<tr>
				<td colspan="20"></td>
			</tr>
			<tr>
				<td width="30"><input type="checkbox" name="all" value="0" onclick="checkall('ids[]', this)" /></td>
				<td colspan="20">
					<select name="op" id="op">
						<option value="">批量操作</option>
						<option value="upcount" >更新统计</option>
						<option value="merge" >合并到</option>
						<option value="delete" >删除</option>
					</select>
					<span id="mergeto" style="display:none;">
					<input type="text" name="toname" class="span1" style="margin:0" placeholder="新标签" />
					</span>
					<button type="submit" class="btn btn-small">应用</button>
				</td>
			</tr>
		</tfoot>
	</table>
	</form>

</fieldset>




		</div>
	</div>
</div>
</body>
</html>

<script type="text/javascript">
$(function() {
	$("#op").change(function() {
		if ($(this).children("option:selected").val() == 'merge') {
			$('#mergeto').show();
		} else {
			$('#mergeto').hide();
		}
	});
});
</script>